body {
	margin: 0px;
	/* margin-left: 5px;
	margin-top: 6px;
	margin-left: 6px; */
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 14px;
	/* background-color: #E0E0EB; */
}

acronym {
	/*
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #AAAAAA;
	*/
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #AAAAAA;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

div#header {
	/* text-align: center; */
	background: #9E1414;
	padding: 0px;
}

div#header div#latestsvn {
	/*
	float: right;
	*/
	position: absolute;
	right: 0px;
	padding: 10px;
	text-align: right;
	/*
	width: 200px;
	*/
	/*
	border-style: solid;
	border-width: 1px;
	background-color: #E0E0EB;
	*/
	color: #FFFFFF;
}

div#header span#title {
	font-size: 24px;
	/* margin: 5px; */
        color: #FFFFFF;
        position: absolute;
        top: 15px;
}

div#menu {
	font-size: 14px;
	/* text-align: center; */
	margin: 0px;
	padding-left: 20px;
	border-top: solid;
	border-bottom: solid;
	border-bottom-width: 1px;
	/* border-top-width: 1px; */
	border-top-width: 0px;
	border-color: #8888B0;
	background-color: #E0E0EB;
}

div#menu span#menulist {
	/* background-color: #FFFFFF; */
}

div#menu span#menulist span a {
	text-decoration: none;
	color: #000022;
}

div#menu span#menulist span a:hover {
	text-decoration: none;
	color: #FF0000;
}

div#menu span#menulist span#active a {
	text-decoration: none;
	color: #FFFFFF;
	/* background-color: #CC2222; */
	background-color: #9E1414;
}

div#menu span#menulist span#active a:hover {
	background-color: #FF2222;
}

div#content {
	text-align: left;
	padding: 10px;
}

div#content div#latest {
	float: right;
	border-style: solid;
	border-width: 1px;
	width: 200px;
	background-color: #E0E0EB;
}

div#content h1#currentname {
	font-size: 20px;
	text-align: center;
}

div#content p.viewedimage {
	text-align: center;
}

div#content p#errormsg {
	color: #FF0000;
}

div#footer {
	border-top: solid;
	border-top-width: 2px;
	border-top-color: #8888B0;
	font-size: 12px;
	padding-top: 1px;
}

div#footer img.w3image {
	border-width: 0;
}

div#footer img#berlioslogo {
        border-style: none;
	border-width: 0px;
	float: right;
}

div#footer img#getfirefox {
        border-style: none;
        border-width: 0px;
        vertical-align: middle;
}

/* http://www.sovavsiti.cz/css/w3c_buttons.html */
.w3cbutton3 {
	/* float: left; */ /* the two 'buttons' are now on the same line */
	/* margin: 1px 3px 0 0; */
	margin: 0px;
	margin-right: 5px;
	width: 9em;
	border: 1px solid #ccc;
	font-family: helvetica,arial,sans-serif;
	font-size: 9px;
	font-weight: bold;
}

.w3cbutton3 a {
	/*
	display: block;
	width: 100%;
	*/
}

.w3cbutton3 a:link,
.w3cbutton3 a:visited,
.w3cbutton3 a:hover {
	background-color: #fc6;
	color: #000;
	text-decoration: none;
}

.w3cbutton3 span.w3c {
	padding: 0 0.4em;
	background-color: #fff;
	color: #0c479d;
}
