body {
	margin-left: 5px;
	/* background-color: #DAE0EA; */
	background-color: #DADAEA;
	width: 605px; /* To prevent the layout messing up with a small window */
	margin-top: 3px;
	color: #222244;
}

div {
	/* Use for debugging purposes */
	/*
	border-style: solid;
	border-width: thin;
	*/
}

div#header {
	padding-left: 5px;
	margin-bottom: 0px;
}

div#header h1#appname {
	margin: 0;
	font-weight: bold;
	font-size: 18px;
	display: inline;
	color: #000000;
}

div#menu {
	float: left;
	width: 90px;
	font-size: 14px;
	border-top: solid;
	border-bottom: solid;
	border-width: 5px;
	border-color: #8888B0;
}

ul#menulist {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}

ul#menulist li {
	list-style-type: none;
	display: block;
}

ul#menulist li#active {
	background-color: #CC2222;
}

ul#menulist li a {
	text-decoration: none;
	color: #000044;
	display: block;
	width: 100%;
}

ul#menulist li a:hover {
	background-color: #DDDDDD;
}

ul#menulist li#active a {
	text-decoration: none;
	color: #FFFFFF;
}

ul#menulist li#active a:hover {
	background-color: #FF0000;
}

div#content {
	float: left;
	border-top: solid;
	border-bottom: solid;
	border-width: 5px;
	border-color: #8888B0;
	min-height: 200px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 20px;
	width: 505px;
	background-color: #FFFFFF;
}

ul.featurelist {
	margin-top: 0px;
	margin-bottom: 0px;
}

div#footer {
	clear: left;
	font-size: 12px;
	padding-top: 1px;
	margin-left: 90px;
}

div#footer img#berlioslogo {
	margin-top: 3px;
	border-width: 0px;
	float: right;
}

/* http://www.sovavsiti.cz/css/w3c_buttons.html */
.w3cbutton3 {
	/* float: left; */ /* the two 'buttons' are now on the same line */
	/* margin: 1px 3px 0 0; */
	margin: 0px;
	margin-right: 5px;
	width: 9em;
	border: 1px solid #ccc;
	font-family: helvetica,arial,sans-serif;
	font-size: 9px;
	font-weight: bold;
}

.w3cbutton3 a {
	/*
	display: block;
	width: 100%;
	*/
}

.w3cbutton3 a:link,
.w3cbutton3 a:visited,
.w3cbutton3 a:hover {
	background-color: #fc6;
	color: #000;
	text-decoration: none;
}

.w3cbutton3 span.w3c {
	padding: 0 0.4em;
	background-color: #fff;
	color: #0c479d;
}
