[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/circe
TryExec=
X-GNOME-DocPath=
Terminal=false
Name[en_GB]=Circe
GenericName[en_GB]=
Comment[en_GB]=IRC client written in Python
